

<div class="row justify-content-end">
    <div class="col-4 text-center rounded">
        <img src="assets/img/2.jpg" class="rounded-circle">
    </div>
    <div class="col-8 text-center">
        <h1>The second heading <span id="gry">is pretty cool Too</span></h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae. Sed dui lorem, adipiscing in adipiscing et, interdum nec metus. Mauris ultricies, justo eu convallis placerat, felis enim.</p>
    </div>

</div>